@keyframes boing {
  from {transform: translateY(16px); }
  to {background-color: translateY(-16px); }
}
@keyframes tilt {
  from { transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg); }
  to { transform: rotateY(-360deg) rotateX(-360deg) rotateZ(-360deg); }
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  animation: boing;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-align: center;
  width: 640px;
  margin: auto;
}
img {
  max-height: 128px;
  animation: tilt;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border: 2px solid white;
}
.buttons { margin-left: auto; margin-right: auto; }
button { color: white; font-family: sans-serif; padding: 8px; border: none; border-radius: 4px; transition: 0.5s; }
.y { background-color: green; }
.n { background-color: maroon; }
button:hover { background: cyan; color: black; transform: rotateY(35deg) rotateX(35deg); }
.n:hover { transform: scaleY(0); transition: 0.1s; }
.n:focus::after {
  display: block;
  position: absolute;
  bottom: 25%;
  width: 100%;
  left: -1%;
  content: "YOU HAVE REFUSED THE AXOLOTL.\nWITH THIS CHARACTER'S DEATH,\nTHE THREAD OF THE PROPHECY IS S-";
  color: red;
  background: black;
}
.y:focus::after {
  display: block;
  position: absolute;
  bottom: 25%;
  width: 100%;
  left: -1%;
  content: "Congratulations! You have recieved: ONE axolotl!";
  color: lime;
}
button:focus { display: none; }
